@font-face {
  font-family: 'Pacifico';
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf); }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); }

.centered {
  text-align: center; }

.primaryBackgroundLight {
  background-color: #a9d88d; }

.nav-link:hover {
  color: #a9d88d !important; }

.dropdown-item:hover {
  color: #a9d88d !important; }

.dropdown-item:focus {
  background: none; }

.primaryColorLight {
  color: #a9d88d; }

.mainFont {
  font-family: "Pacifico", cursive; }

.secondaryFont {
  font-family: "Open Sans", sans-serif; }

.width1000 {
  width: 1000px; }

.formSubmit {
  border: 1px solid black; }
  .formSubmit:hover {
    box-shadow: 2px 2px 4px 2px black; }
  .formSubmit:focus {
    box-shadow: none; }

.centeredImage {
  margin: auto;
  display: block; }

.carousel-item img {
  width: 1000px;
  height: 600px; }

.noBold {
  font-weight: normal; }

.cardMargin {
  margin: 10px;
  padding: 5px; }
