@font-face{
    font-family: 'Pacifico';
    src:url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face{
    font-family: 'Open Sans';
    src:url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@media screen and (max-width: 1024px) {
    .carousel {
        display: none !important;
    }
}

$color-primary-light:#a9d88d;

$main-font: "Pacifico", cursive;
$secondary-font: "Open Sans", sans-serif;

.centered{
    text-align: center;
}

.primaryBackgroundLight{
    background-color: $color-primary-light;
}

.nav-link{
    &:hover{
        color: $color-primary-light !important;
    }
}

.dropdown-item{
    &:hover{
        color: $color-primary-light !important;
    }
    &:focus{
        background: none;
    }
}

.primaryColorLight{
    color: $color-primary-light;
}

.mainFont{
    font-family: $main-font;
}

.secondaryFont{
    font-family: $secondary-font;
}

.width1000{
    width: 1000px;
}

.formSubmit, 
.formReset{
    border: 1px solid black;
    &:hover{
        box-shadow: 2px 2px 4px 2px black;
    }
    &:focus{
        box-shadow: none;
    }
}

.centeredImage{
    margin: auto;
    display: block;
}

.carousel-item{
    img {
        width:1000px;
        height:600px;
      }
}

.noBold{
    font-weight: normal;
}

.cardMargin{
    margin:10px;
    padding:5px;
}

.mb0{
    margin-bottom: 0px;
}

.ml3{
    margin-left: 3px;
}

.cardMargin2{
    margin: 0px 50px;
}
#myModal{
    .modal-header{
        background-color: $color-primary-light;
        button{
            &:focus{
                outline:0 !important;
            }
        }
    }
    h5{
        font-family: $main-font;
        color:white;
        margin: auto;
    }
    .modal-body{
        font-family: $secondary-font;
        position: relative;
        button{
            background-color: $color-primary-light;
            color:white;
            font-family: $main-font;
            border-color: $color-primary-light;
            position: absolute;
            right: 10px;
            bottom: 5px; 
            &:hover{
                box-shadow: 2px 2px 4px 2px black;
            }
        }
    }
}